ul, li, dl, dt, dd {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  list-image-style: none;
}

// Drupal resets

ul li.leaf {
  list-style: none;
  list-style-image: none;
}

.item-list ul li {
  margin: 0px;
}